<main class="container-fluid w-100" role="main">
  <div class="row">
    <div
      class="col-lg-6 d-flex flex-column justify-content-center align-items-center bg-white mnh-100vh"
    >
      <a class="u-login-form py-3 mb-auto" href="index-2.html">
        <!-- <img
                class="img-fluid"
                src="assets/img/logo.png"
                width="160"
                alt="Stream Dashboard UI Kit"
              /> -->
      </a>

      <div class="u-login-form">
        <div [ngSwitch]="resetLinkSent">
          <div *ngSwitchCase="'no'">
            <div
              style="
              top: -50px;
              z-index: 30;
              position: absolute;
              "
              class="col-lg-12 col-md-12 col-sm-12 d-none d-lg-flex flex-column align-items-center justify-content-center"
            >
              <div
                *ngIf="alertContainer?.instance"
                class="alert"
                [ngClass]="alertContainer?.instance?.errorOrSuccess"
                role="alert"
              >
                <i class="far fa-handshake alert-icon mr-3"></i>
                <span style="padding-right: 10px;">{{
                  alertContainer?.instance?.message
                }}</span>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  data-dismiss="alert"
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </div>
            <form
              class="mb-3"
              [formGroup]="forgotPasswordForm"
              (ngSubmit)="submitForgotPassword(forgotPasswordForm)"
            >
              <div
                *ngIf="alertContainer?.instance"
                class="alert"
                [ngClass]="alertContainer?.instance?.errorOrSuccess"
                role="alert"
              >
                <i [ngClass]="alertContainer?.instance?.title"></i>
                <span>{{ alertContainer?.instance?.message }}</span>
                <!-- (click)="removeInstance()" -->
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  data-dismiss="alert"
                >
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <h1 class="h2">Recover Your Password</h1>
              <p class="small">
                If you do not receive an email, please make sure to check your
                spam folder as well.
              </p>

              <div class="form-group mb-4">
                <label for="email">Your email</label>
                <input
                  id="email"
                  class="form-control"
                  name="email"
                  type="email"
                  formControlName="email"
                  value="john.doe@example.com"
                />
              </div>

              <button
                style="background-color: #ffb300"
                id="forgotPasswordBtn"
                class="btn btn-primary btn-block"
                [disabled]="forgotPasswordForm.invalid"
                type="submit"
              >
                Send Confirmation
              </button>
            </form>
          </div>

          <div *ngSwitchCase="'yes'">
            <app-reset-password
              [detailsFromForgotPassword]="resetDetails"
            ></app-reset-password>
          </div>
        </div>

        <p class="small text-muted">
          Don’t have an account?
          <a routerLink="/register">Sign Up here</a>
        </p>
      </div>

      <div class="u-login-form text-muted py-3 mt-auto">
        <!-- <small
                ><i class="far fa-question-circle mr-1"></i> If you are not able
                to recover your password, please
                <a href="#">contact us</a>.</small
              > -->
      </div>
    </div>

    <div
      class="col-lg-6 d-none d-lg-flex flex-column align-items-center justify-content-center bg-light"
    >
      <img
        class="img-fluid position-relative u-z-index-3 mx-5"
        src="assets/svg/mockups/forgotPassword.svg"
        alt="Image description"
      />

      <figure class="u-shape u-shape--top-right u-shape--position-5">
        <img src="assets/svg/shapes/shape-1.svg" alt="Image description" />
      </figure>
      <figure class="u-shape u-shape--center-left u-shape--position-6">
        <img src="assets/svg/shapes/shape-2.svg" alt="Image description" />
      </figure>
      <figure class="u-shape u-shape--center-right u-shape--position-7">
        <img src="assets/svg/shapes/shape-3.svg" alt="Image description" />
      </figure>
      <figure class="u-shape u-shape--bottom-left u-shape--position-8">
        <img src="assets/svg/shapes/shape-4.svg" alt="Image description" />
      </figure>
    </div>
  </div>
</main>
