<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8 col-sm-8 col-lg-8 offset-md-3 align-self-center">
      <img
        class="img-fluid position-relative u-z-index-3 mx-5"
        src="../../../assets/svg/mockups/No-Content.svg"
        alt="Image description"
      />
    </div>

    <div class="col-md-8 col-sm-12 col-lg-8 align-self-start">
      <div class="text-center g-max-width-700 g-z-index-1 g-color-white">
        <h1 class="display-3 g-mb-30">Nothing to display</h1>
        <p class="g-font-size-22 g-mb-50">
          No statement history was found. When you analyse any statements, they
          will show up here.
        </p>
      </div>
    </div>
  </div>
</div>
