<div
      *ngIf="alertContainer?.instance"
      class="alert"
      [ngClass]="alertContainer?.instance?.errorOrSuccess"
      role="alert"
    >
      <i [ngClass]="alertContainer?.instance?.title"></i>
      <span style="line-height: 1;">{{
        alertContainer?.instance?.message
      }}</span>
      <button
        type="button"
        class="close"
        aria-label="Close"
        data-dismiss="alert"
        (click)="removeInstance()"
      >
        <span aria-hidden="true">×</span>
      </button>
  </div>


<main>
  <div class="dashboard-container row">
    <div class="dashboard__column">
      <div class="dashboard__profile">
        <div class="dashboard__profile-item">
          <img
            src="../../../assets/img/avatar-mini.png"
            class="dasboard__profile-avatar"
            alt=""
          />
        </div>
        <div class="dashboard__profile-item">
          <p>
            <!-- <i class="fa fa-plus"></i> -->
            <!-- <i class="fa fa-user"></i> -->
            <i style="margin-right: 10px" class="far fa-user"></i>
            <!-- <i class="user circle outline icon"></i> -->
            <!-- <ion-icon name="person-outline"></ion-icon>  -->
            {{ emailAndName?.fullname }}
          </p>
          <p>
            <!-- <ion-icon name="mail-outline"></ion-icon>  -->
            <i style="margin-right: 10px" class="far fa-envelope"></i>
            <!-- stevedoyin.@gmail.com -->
            {{ emailAndName?.email }}
          </p>
        </div>
      </div>
      <div class="dashboard__statement">
        <div *ngIf="!dashBoardDataFromApiCall?.user?.fullname">
          <app-large-loader></app-large-loader>
        </div>
        <h1 id="totalStatements" style="font-weight: 700; color: #797979">
          {{ totalStatements }}
        </h1>

        <!-- <p id="totalStatements">{{ totalStatements }}</p> -->
        <p *ngIf="totalStatements">Statements left</p>

        <!-- <p>Statement Left</p> -->
        <button
          id="topup"
          (click)="insertChangePlanAnchorDynamically($event)"
          class="ui basic button viewjstwo"
        >
          Top up
        </button>

        <button
            hidden
            data-toggle="modal"
            data-target="#exampleModalCenter"
            class="btn btn-sm u-btn-content g-font-weight-400 u-btn-primary g-rounded-50 g-mr-10"
          ></button>
      </div>
    </div>

    <div class="dashboard__column">
      <div class="dashboard__analyse">
        <h3>Analyse</h3>
        <div class="dashboard__analyse-inner">
          <img
            src="../../../assets/img/undraw_Memory_storage_reh0.svg"
            class="dashboard__analyse-img"
            alt=""
          />
          <button
            id="buttonAnalyse"
            (click)="clickHiddenAnchorToStartAnalysisProcess($event)"
            class="ui basic button viewjstwo"
          >
            <!-- <i class="sync icon"></i> -->
            Analyse
          </button>
          <a hidden class="ccopen"></a>
        </div>
      </div>

      <div class="dashboard__statement dashboard__statement--history">
        <h3 style="font-weight: 700; color: #797979 ">Statement History</h3>
        <button class="button ui basic viewjs">
          View
        </button>
      </div>
    </div>

    <div class="dashboard__column cardAndStatus">
      <div  class="dashboard__card">
        <div class="dashboard__card-logo">
          <span></span>
          <span></span>
        </div>
        <div class="dashboard__card-pin-container">
          <p class="dashboard__card-pin">************ <span>4456</span></p>
        </div>
        <div class="dashboard__card-footer">
          <p>
            <span><strong>Expiry Date:</strong></span>
            <span class="lite">04/04</span>
          </p>
          <div>
            <span class="dashboard__card-plus">
              <!-- &plus; -->
              &#x002B;
            </span>
          </div>
        </div>
      </div>

      <div class="dashboard__status">
        <h2>
          <!-- <i style="font-size: 8rem;" class="far fa-user"></i> -->
          <i
            style="font-size: 6rem; color: #797979"
            class="far fa-user-circle"
          ></i>
          <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
        </h2>
        <h3>My Profile</h3>
        <small [hidden]="dontShow" style="margin: 0px; text-align: left;">
          <app-small-loader></app-small-loader>
        </small>
        <p id="emailVerification" [title]="title"></p>
      </div>
    </div>

    <div class="dashboard__column cogWheel">
      <a href="" class="dashboard__settings">
        <!-- <i style="font-size: 8rem;" class="far fa-user"></i> -->
        <!-- <ion-icon name="settings-outline"></ion-icon> -->
        <i
          style="font-size: 5rem; color: #797979"
          class="far fa-user-circle"
          class="fas fa-cogs"
        ></i>
        <br />
        <p>
          Settings
        </p>
      </a>
    </div>
  </div>
</main>

<article class="slidable-container">
  <div class="slidable-close">
    x
  </div>
  <!-- slider container -->
  <div class="slidable-container__inner">
    <div class="slidable-header">
      <div class="ui placeholder placeholder-one">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>

      <div class="slidable-header-profile real">
        <img
          src="../../../assets/img/avatar-mini.png"
          class="slidable-avatar"
          alt=""
        />
        <div>
          <h5>{{ emailAndName?.fullname }}</h5>
          <small> {{ emailAndName?.email }} </small>
        </div>
      </div>
    </div>

    <!--  content for statement history -->
    <div class="slidable-content">
      <app-view-statement-history></app-view-statement-history>
    </div>
  </div>

  <!-- content for settings -->

  <div class="slidable-container__inner">
    <div class="slidable-header">
      <div class="ui placeholder placeholder-three">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>

      <div class="slidable-header-profile real-second">
        <img
          src="../../../assets/img/avatar-mini.png"
          class="slidable-avatar"
          alt=""
        />
        <div>
          <h5>{{ emailAndName?.fullname }}</h5>
          <small> {{ emailAndName?.email }} </small>
        </div>
      </div>
    </div>

    <div class="slidable-content slidable-content--padded">
      <div class="real-second-two">
        <app-settings></app-settings>
      </div>
      <div class="ui placeholder placeholder-four">
        <div class="paragraph">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- button to click for topup -->
<button
  hidden
  data-toggle="modal"
  data-target="#exampleModalCenter"
  class="btn btn-sm u-btn-content g-font-weight-400 u-btn-primary g-rounded-50 g-mr-10"
></button>

<!-- My code tarts here -->
<!-- <div [ngSwitch]="screensize">
  <div *ngSwitchCase="'desktop'">
    <div class="container-fluid w-100" role="main">
      <div id="ancestor" class="row">
        <div class="firstDiv col-lg-3 col-md-12 col-sm-8">
          <div id="insideFirstDiv" class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                <img
                  class="img-fluid position-relative u-z-index-3"
                  src="../../../assets/svg/mockups/Analysis.svg"
                  alt="Image description"
                />
              </div>
              <div
                style="position: relative"
                class="col-md-12 col-sm-12 col-lg-12 text-center d-flex justify-content-center align-items-center"
              >
                <a
                  id="buttonAnalyse"
                  class="btn btn-lg btn-block u-btn-content g-font-weight-400 text-white u-btn-primary g-rounded-50 g-p-50 g-mr-10 g-mt-15"
                  (click)="clickHiddenAnchorToStartAnalysisProcess($event)"
                  >Analyse</a
                >
                <a hidden class="ccopen"></a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="secondDiv col-lg-8 col-md-12 col-sm-12">
          <div class="row" id="insideSecondDiv">
            <div
              style="min-height: 80vh;"
              class="col-md-11 col-sm-11 col-lg-5 text-center"
            >
              <div class="flexChildOne first">
                <div style="">
                  <div *ngIf="!dashBoardDataFromApiCall?.user?.fullname">
                    <app-large-loader></app-large-loader>
                  </div>
                  <p id="totalStatements">{{ totalStatements }}</p>
                  <p *ngIf="totalStatements">Statements left</p>
                </div>
                <div>
                  <a
                    id="topup"
                    class="btn btn-sm u-btn-content g-font-weight-400 u-btn-primary g-rounded-50 g-mr-10"
                    (click)="insertChangePlanAnchorDynamically($event)"
                    >Top Up</a
                  >
    
                  <button
                    hidden
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                    class="btn btn-sm u-btn-content g-font-weight-400 u-btn-primary g-rounded-50 g-mr-10"
                  ></button>
                </div>
              </div>
    
              <div class="flexChildTwo firstSibling">
                <a
                  [routerLink]="['/user', 'viewStatementsHistory']"
                  class=" g-font-weight-350"
                  >View statement history</a
                >
              </div>
            </div>
            <div
              style="min-height: 80vh;"
              class="col-md-11 col-sm-11 col-lg-4 text-center"
            >
              <div class="flexChildThree">
                <div class="svgInside">
                  <svg
                    class="mc"
                    width="56"
                    height="46"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 131.39 86.9"
                  >
                    <defs>
                      <style>
                        .a {
                          opacity: 0;
                        }
                        .b {
                          fill: #fff;
                        }
                        .c {
                          fill: #ff5f00;
                        }
                        .d {
                          fill: #eb001b;
                        }
                        .e {
                          fill: #f79e1b;
                        }
                      </style>
                    </defs>
                    <title>Asset 1</title>
                    <g class="a">
                      <rect class="b" width="131.39" height="86.9"></rect>
                    </g>
                    <rect
                      class="c"
                      x="48.37"
                      y="15.14"
                      width="34.66"
                      height="56.61"
                    ></rect>
                    <path
                      class="d"
                      d="M51.94,43.45a35.94,35.94,0,0,1,13.75-28.3,36,36,0,1,0,0,56.61A35.94,35.94,0,0,1,51.94,43.45Z"
                    ></path>
                    <path
                      class="e"
                      d="M120.5,65.76V64.6H121v-.24h-1.19v.24h.47v1.16Zm2.31,0v-1.4h-.36l-.42,1-.42-1h-.36v1.4h.26V64.7l.39.91h.27l.39-.91v1.06Z"
                    ></path>
                    <path
                      class="e"
                      d="M123.94,43.45a36,36,0,0,1-58.25,28.3,36,36,0,0,0,0-56.61,36,36,0,0,1,58.25,28.3Z"
                    ></path>
                  </svg>
                </div>
                <p id="expirationDetails" class="flexGrandChildTwo">
                  *********** 4456
                </p>
                <div class="flexGrandChildThree">
                  <p class="expiry">Expiry:</p>
                  <div class="expiryDetails" id="cardexpiry" style="">
                    <small style="display: block; align-self: flex-start;"
                      >04/04</small
                    >
                    <i id="changeCardDetails" class="fa fa-plus"></i>
                  </div>
                </div>
              </div>
    
              <div
                class="flexChildFour"
                style="display: flex; flex-direction: column; justify-content: flex-end; align-items:flex-end;
                position: relative;"
              >
                <p id="profile">My Profile</p>
                <div
                 id="emailVerificationParent"
                  style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: flex-end; width: 100%"
                >
                  <small [hidden]="dontShow" style="margin: 0px; text-align: left;">
                    <app-small-loader></app-small-loader>
                  </small>
                  <p id="emailVerification" [title]="title" style=""></p>
                </div>
              </div>
            </div>
    
            <div
              style="min-height: 80vh;"
              class="col-md-11 col-sm-11 col-lg-2 text-center flexChildFive"
              
            >
              <div
                class="fifth py-3"
                style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
                (click)="gotoSettings()"
              >
                <div class="childOfFifth" style="">
                  <i class="fas fa-cog fa-4x"></i>
                </div>
                <p style=""><a routerLink="/user/settings">Settings</a></p>
              </div>
    
              <div class="sixth"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div *ngSwitchCase="'mobile'">
    <div class="container-fluid w-100" role="main">
      <div class="row" style="">
          <div class="col-sm-6" style="">
                  <div class="firstDiv">
                    <img
                      class="img-fluid position-relative u-z-index-3"
                      src="../../../assets/svg/mockups/Analysis.svg"
                      alt="Image description"
                    />
                  </div>
                  <div
                    id="buttonHolder"
                    class="text-center d-flex justify-content-center align-items-center"
                  >
                    <a
                      id="buttonAnalyse"
                      class="btn btn-lg u-btn-content g-font-weight-400 text-white u-btn-primary g-rounded-50 g-mr-10 g-mt-15"
                      (click)="clickHiddenAnchorToStartAnalysisProcess($event)"
                      >Analyse</a
                    >
                    <a hidden class="ccopen"></a>
                  </div>
                
              
            </div>
            <div class="col-sm-6 firstSibling" style=" margin-top: 25px !important;">
                    <a
                      [routerLink]="['/user', 'viewStatementsHistory']"
                      class=" g-font-weight-350"
                      >View statement history</a
                    >
          </div>

          <div class="col-sm-6 flexChildOne first" style=" margin-top: 25px !important;">
                  <div style="">
                    <div *ngIf="!dashBoardDataFromApiCall?.user?.fullname">
                      <app-large-loader></app-large-loader>
                    </div>
                    <p id="totalStatements">{{ totalStatements }}</p>
                    <p *ngIf="totalStatements">Statements left</p>
                  </div>
                  <div>
                    <a
                      id="topup"
                      class="btn btn-sm u-btn-content g-font-weight-400 u-btn-primary g-rounded-50 g-mr-10"
                      (click)="insertChangePlanAnchorDynamically($event)"
                      >Top Up</a
                    >
      
                    <button
                      hidden
                      data-toggle="modal"
                      data-target="#exampleModalCenter"
                      class="btn btn-sm u-btn-content g-font-weight-400 u-btn-primary g-rounded-50 g-mr-10"
                    >
                  </button>
                  </div>
            

          </div>
            <div class="col-sm-6 flexChildThree" style=" margin-top: 25px !important;">
                    <div class="svgInside">
                      <svg
                        class="mc"
                        width="56"
                        height="46"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 131.39 86.9"
                      >
                        <defs>
                          <style>
                            .a {
                              opacity: 0;
                            }
                            .b {
                              fill: #fff;
                            }
                            .c {
                              fill: #ff5f00;
                            }
                            .d {
                              fill: #eb001b;
                            }
                            .e {
                              fill: #f79e1b;
                            }
                          </style>
                        </defs>
                        <title>Asset 1</title>
                        <g class="a">
                          <rect class="b" width="131.39" height="86.9"></rect>
                        </g>
                        <rect
                          class="c"
                          x="48.37"
                          y="15.14"
                          width="34.66"
                          height="56.61"
                        ></rect>
                        <path
                          class="d"
                          d="M51.94,43.45a35.94,35.94,0,0,1,13.75-28.3,36,36,0,1,0,0,56.61A35.94,35.94,0,0,1,51.94,43.45Z"
                        ></path>
                        <path
                          class="e"
                          d="M120.5,65.76V64.6H121v-.24h-1.19v.24h.47v1.16Zm2.31,0v-1.4h-.36l-.42,1-.42-1h-.36v1.4h.26V64.7l.39.91h.27l.39-.91v1.06Z"
                        ></path>
                        <path
                          class="e"
                          d="M123.94,43.45a36,36,0,0,1-58.25,28.3,36,36,0,0,0,0-56.61,36,36,0,0,1,58.25,28.3Z"
                        ></path>
                      </svg>
                    </div>
                    <p id="expirationDetails" class="flexGrandChildTwo">
                      *********** 4456
                    </p>
                    <div class="flexGrandChildThree">
                      <p class="expiry">Expiry:</p>
                      <div class="expiryDetails" id="cardexpiry" style="">
                        <small style="display: block; align-self: flex-start;"
                          >04/04</small
                        >
                        <i id="changeCardDetails" class="fa fa-plus"></i>
                      </div>
                    </div>
                 

            </div>

            <div class="col-sm-6 flexChildFour" style="margin-top: 25px !important;;
            display: flex; flex-direction: column; justify-content: flex-end; align-items:flex-end;
                position: relative;">
                <p id="profile">My Profile</p>
                <div
                 id="emailVerificationParent"
                  style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: flex-end; width: 100%"
                >
                  <small [hidden]="dontShow" style="margin: 0px; text-align: left;">
                    <app-small-loader></app-small-loader>
                  </small>
                  <p id="emailVerification" [title]="title" style=""></p>
                </div>
             
            </div>

            <div class="col-sm-6 fifth" 
            (click)="gotoSettings()"
            style="margin-top: 25px !important; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                
                <div class="childOfFifth" style="">
                  <i class="fas fa-cog fa-4x"></i>
                </div>
                <p style=""><a routerLink="/user/settings">Settings</a></p>
              
            </div>

      </div>
      </div>
  </div>

</div> -->

<!-- my code ends here-->

<button
  id="hiddenModalButton"
  hidden
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalCenter"
>
  Launch demo modal
</button>

<button
  id="hiddenSecondModalButton"
  hidden
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalCenter22"
>
  Launch demo modal
</button> -->


 <div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalCenterTitle">
          Hi {{ dashBoardDataFromApiCall?.user?.fullname }}
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          id="closeModal"
          aria-label="Close"
          (click)="cleanThingsUp()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        class="modal-body"
        style="display: flex; justify-content: center; align-items: center; text-align: center"
      >
        <div
          style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center"
        >
          You are currently on the {{ currentUsersSubscription?.name }} plan.
          Your current subscription will end on
          {{
            dashBoardDataFromApiCall?.user?.current_package_validity
              | date: "fullDate"
          }}. If you wish to continue, you will be charged N
          {{ currentUsersSubscription?.price }}.

          <div id="Divpaynow">
            <p id="payNow">
              <a
                *ngIf="payStackPayment"
                style="align-self: center; background: #363795;"
                class="btn text-uppercase text-white u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10"
                angular4-paystack
                [key]="payStackPayment.key"
                [email]="payStackPayment.email"
                [amount]="payStackPayment.amount"
                [ref]="payStackPayment.reference"
                [class]="'btn btn-primary'"
                (paymentInit)="payStackPayment.paymentInit()"
                (close)="payStackPayment.paymentCancel()"
                (callback)="payStackPayment.paymentDone($event)"
                >Pay N {{ currentUsersSubscription?.price }}</a
              >
            </p>
            <p id="changePlan"></p>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter22"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #E5E5E5">
        <h1 class="modal-title" id="exampleModalCenterTitle">
          Hi {{ dashBoardDataFromApiCall?.user?.fullname }}
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          id="closeModal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div
              class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center text-center"
            >
              <div id="imagePlaceHolder"></div>
            </div>
            <div
              class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-start text-center"
            >
              <div class="insideLife"></div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>
































































































