<div
      *ngIf="alertContainer?.instance"
      class="alert"
      [ngClass]="alertContainer?.instance?.errorOrSuccess"
      role="alert"
    >
      <i [ngClass]="alertContainer?.instance?.title"></i>
      <span style="line-height: 1;">{{
        alertContainer?.instance?.message
      }}</span>
      <button
        type="button"
        class="close"
        aria-label="Close"
        data-dismiss="alert"
        (click)="removeInstance()"
      >
        <span aria-hidden="true">×</span>
      </button>
  </div>


<main>
  <div class="dashboard-container row">
    <div class="dashboard__column">
      <div class="dashboard__profile">
        <div class="dashboard__profile-item">
          <img
            src="../../../assets/img/avatar-mini.png"
            class="dasboard__profile-avatar"
            alt=""
          />
        </div>
        <div class="dashboard__profile-item">
          <p>
            <!-- <i class="fa fa-plus"></i> -->
            <!-- <i class="fa fa-user"></i> -->
            <i style="margin-right: 10px" class="far fa-user"></i>
            <!-- <i class="user circle outline icon"></i> -->
            <!-- <ion-icon name="person-outline"></ion-icon>  -->
            {{ emailAndName?.fullname }}
          </p>
          <p>
            <!-- <ion-icon name="mail-outline"></ion-icon>  -->
            <i style="margin-right: 10px" class="far fa-envelope"></i>
            <!-- stevedoyin.@gmail.com -->
            {{ emailAndName?.email }}
          </p>
        </div>
      </div>
      <div class="dashboard__statement">
        <div *ngIf="!dashBoardDataFromApiCall?.user?.fullname">
          <app-large-loader></app-large-loader>
        </div>
        <h1 id="totalStatements" style="font-weight: 700; color: #797979">
          {{ totalStatements }}
        </h1>

        <!-- <p id="totalStatements">{{ totalStatements }}</p> -->
        <p *ngIf="totalStatements">Statements left</p>

        <!-- <p>Statement Left</p> -->
        <button
          id="topup"
          (click)="insertChangePlanAnchorDynamically($event)"
          class="ui basic button viewjstwo"
        >
          Top up
        </button>

        <button
            hidden
            id="startBSintiationForCustomer"
            data-toggle="modal"
            data-target="#exampleModalCenter22"
            class="btn btn-sm u-btn-content g-font-weight-400 u-btn-primary g-rounded-50 g-mr-10"
          ></button>
      </div>
    </div>

    <div class="dashboard__column">
      <div class="dashboard__analyse">
        <h3>Analyse</h3>
        <div class="dashboard__analyse-inner">
          <img
            src="../../../assets/img/undraw_Memory_storage_reh0.svg"
            class="dashboard__analyse-img"
            alt=""
          />
          <button
            id="buttonAnalyse"
            (click)="clickHiddenAnchorToStartAnalysisProcess($event)"
            class="ui basic button viewjstwo"
          >
            <!-- <i class="sync icon"></i> -->
            Analyse
          </button>
          <a hidden class="ccopen"></a>
        </div>
      </div>

      <div class="dashboard__statement dashboard__statement--history">
        <h3 style="font-weight: 700; color: #797979 ">Statement History</h3>
        <button class="button ui basic viewjs">
          View
        </button>
      </div>
    </div>

    <div class="dashboard__column cardAndStatus">
      <div  class="dashboard__card">
        <div class="dashboard__card-logo">
          <span></span>
          <span></span>
        </div>
        <div class="dashboard__card-pin-container">
          <p class="dashboard__card-pin">************ <span>4456</span></p>
        </div>
        <div class="dashboard__card-footer">
          <p>
            <span><strong>Expiry Date:</strong></span>
            <span class="lite">04/04</span>
          </p>
          <div>
            <span class="dashboard__card-plus">
              <!-- &plus; -->
              &#x002B;
            </span>
          </div>
        </div>
      </div>

      <div class="dashboard__status">
        <h2>
          <!-- <i style="font-size: 8rem;" class="far fa-user"></i> -->
          <i
            style="font-size: 6rem; color: #797979"
            class="far fa-user-circle"
          ></i>
          <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
        </h2>
        <h3>My Profile</h3>
        <small [hidden]="dontShow" style="margin: 0px; text-align: left;">
          <app-small-loader></app-small-loader>
        </small>
        <p id="emailVerification" [title]="title"></p>
      </div>
    </div>

    <div class="dashboard__column cogWheel">
      <a href="javascript:void(0)" class="initiate_analysis mb-4">
        <!-- <i style="font-size: 8rem;" class="far fa-user"></i> -->
        <!-- <ion-icon name="settings-outline"></ion-icon> -->
        <i
          style="font-size: 5rem; color: #797979"
          class="far fa-paper-plane"
        ></i>
        <br />
        <p>
          <button  (click)="startBSForCustomer()" class="button ui basic "> Initiate Analyis </button>
        </p>
      </a>

      <a href="" class="dashboard__settings">
        <!-- <i style="font-size: 8rem;" class="far fa-user"></i> -->
        <!-- <ion-icon name="settings-outline"></ion-icon> -->
        <i
          style="font-size: 5rem; color: #797979"
          class="far fa-user-circle"
          class="fas fa-cogs"
        ></i>
        <br />
        <p>
          <button  class="button ui basic "> Settings </button>
        </p>
      </a>
    </div>
  </div>
</main>

<article class="slidable-container">
  <div class="slidable-close">
    x
  </div>
  <!-- slider container -->
  <div class="slidable-container__inner">
    <div class="slidable-header">
      <div class="ui placeholder placeholder-one">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>

      <div class="slidable-header-profile real">
        <img
          src="../../../assets/img/avatar-mini.png"
          class="slidable-avatar"
          alt=""
        />
        <div>
          <h5>{{ emailAndName?.fullname }}</h5>
          <small> {{ emailAndName?.email }} </small>
        </div>
      </div>
    </div>

    <!--  content for statement history -->
    <div class="slidable-content">
      <app-view-statement-history></app-view-statement-history>
    </div>
  </div>

  <!-- content for settings -->

  <div class="slidable-container__inner">
    <div class="slidable-header">
      <div class="ui placeholder placeholder-three">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>

      <div class="slidable-header-profile real-second">
        <img
          src="../../../assets/img/avatar-mini.png"
          class="slidable-avatar"
          alt=""
        />
        <div>
          <h5>{{ emailAndName?.fullname }}</h5>
          <small> {{ emailAndName?.email }} </small>
        </div>
      </div>
    </div>

    <div class="slidable-content slidable-content--padded">
      <div class="real-second-two">
        <app-settings></app-settings>
      </div>
      <div class="ui placeholder placeholder-four">
        <div class="paragraph">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- button to click for topup -->
<button
  hidden
  data-toggle="modal"
  data-target="#exampleModalCenter"
  class="btn btn-sm u-btn-content g-font-weight-400 u-btn-primary g-rounded-50 g-mr-10"
></button>


<button
  id="hiddenModalButton"
  hidden
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalCenter"
>
  Launch demo modal
</button>

<button
  id="hiddenSecondModalButton"
  hidden
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalCenter22"
>
  Launch demo modal
</button> -->


 <div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalCenterTitle">
          Hi {{ dashBoardDataFromApiCall?.user?.fullname }}
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          id="closeModal"
          aria-label="Close"
          (click)="cleanThingsUp()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        class="modal-body"
        style="display: flex; justify-content: center; align-items: center; text-align: center"
      >
        <div
          style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center"
        >
          You are currently on the {{ currentUsersSubscription?.name }} plan.
          Your current subscription will end on
          {{
            dashBoardDataFromApiCall?.user?.current_package_validity
              | date: "fullDate"
          }}. If you wish to continue, you will be charged N
          {{ currentUsersSubscription?.price }}.

          <div id="Divpaynow">
            <p id="payNow">
              <a
                *ngIf="payStackPayment"
                style="align-self: center; background: #363795;"
                class="btn text-uppercase text-white u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10"
                angular4-paystack
                [key]="payStackPayment.key"
                [email]="payStackPayment.email"
                [amount]="payStackPayment.amount"
                [ref]="payStackPayment.reference"
                [class]="'btn btn-primary'"
                (paymentInit)="payStackPayment.paymentInit()"
                (close)="payStackPayment.paymentCancel()"
                (callback)="payStackPayment.paymentDone($event)"
                >Pay N {{ currentUsersSubscription?.price }}</a
              >
            </p>
            <p id="changePlan"></p>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter22"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #E5E5E5">
        <h1 *ngIf="!userWantsToSendCustomerForBS" class="modal-title" id="exampleModalCenterTitle">
          Hi {{ dashBoardDataFromApiCall?.user?.fullname }}
        </h1>

        <h1 *ngIf="userWantsToSendCustomerForBS" class="modal-title" style="padding: 0 5%" id="exampleModalCenterTitle">
          Enter Customer Details
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          id="closeModal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
        <div class="container">
          <div class="row modifiedRow justify-content-center align-items-center pr-0">
            <div
              class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center text-center"
            >
              <div id="imagePlaceHolder"></div>
            </div>
            <div
              class="pl-0 col-lg-12 col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-start text-center"
            >
              <div class="insideLife">
                <div *ngIf="userWantsToSendCustomerForBS">
                  <app-send-customer-for-analysis
                   [banksToDisplay]="NigerianBanks"
                   ></app-send-customer-for-analysis>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>
































































































