<div style="overflow-y: auto">
  <!-- Header -->
  <header
    id="js-header"
    class="u-header u-header--static"
    style="min-height: 0px"
  >
    <div
      style="min-height: 0px"
      class="u-header__section u-header__section--light g-bg-white g-transition-0_3"
    ></div>
  </header>
  <!-- End Header -->

  <!-- Promo Block -->
  <section>
    <!-- Parallax Image -->
    <!-- <div
  class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center"
  style="background-color: #fdb202d7; height: 140%; background-image: url(../../assets/assets/img-temp/1920x800/img2.jpg);"
></div> -->
    <!-- End Parallax Image -->

    <!-- Promo Block Content -->
    <div
      class=" container g-color-white text-center g-pos-rel g-z-index-1 g-pt-50 g-pb-100"
    >
      <h2
        style="color: #fdb202d7"
        class="g-font-weight-700 g-font-size-65 text-uppercase"
      >
        Pricing plan
      </h2>
    </div>
    <!-- Promo Block Content -->
  </section>
  <!-- End Promo Block -->

  <!-- Pricing Plans -->
  <section class="g-bg-gray-light-v5">
    <div class="container g-pb-100">
      <!-- Pricing Plans -->
      <div class="row g-mt-minus-100 g-mb-70" style="position: relative">
        <div
          style="
      top: -60px;
      z-index: 30;
      position: absolute;
      "
          class="col-lg-12 col-md-12 col-sm-12 d-none d-lg-flex flex-column align-items-center justify-content-center"
        >
          <div
            style="box-shadow: 0px 0px 10px rgba(236, 216, 174, 0.99);"
            *ngIf="alertContainer?.instance"
            class="alert"
            [ngClass]="alertContainer?.instance?.errorOrSuccess"
            role="alert"
          >
            <i class="alertContainer?.instance?.title"></i>
            <span style="padding-right: 10px;">{{
              alertContainer?.instance?.message
            }}</span>
            <button
              type="button"
              class="close"
              aria-label="Close"
              data-dismiss="alert"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
        </div>
        <ng-container *ngFor="let plan of plans; index as i">
          <div
            #planHolder
            class="col-md-6 col-sm-6 col-lg-3 g-mb-30 modification"
          >
            <!-- Article -->
            <article
              class="u-shadow-v21 u-shadow-v21--hover g-bg-white text-center g-overflow-hidden g-rounded-4 g-pos-rel g-z-index-2 g-cursor-pointer g-transition-0_3"
            >
              <!-- Article Header -->
              <header
                style="background-color:#363795 !important;"
                class="g-bg-primary g-pos-rel g-px-20 g-py-70"
              >
                <svg
                  class="g-pos-abs g-bottom-0 g-left-0 g-right-0"
                  version="1.1"
                  preserveAspectRatio="none"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="100%"
                  height="70px"
                  viewBox="0 0 300 70"
                >
                  <path
                    d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
                  c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"
                    opacity="0.6"
                    fill="#ffffff"
                  />
                  <path
                    d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
                  c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"
                    opacity="0.6"
                    fill="#ffffff"
                  />
                  <path
                    d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
                  H42.401L43.415,98.342z"
                    opacity="0.7"
                    fill="#ffffff"
                  />
                  <path
                    d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
                  c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"
                    fill="#ffffff"
                  />
                </svg>
                <strong
                  class="d-block g-color-white g-font-size-50 g-line-height-0_7 g-mb-20"
                >
                  <span class="g-valign-top g-font-size-default">N</span>
                  {{ generalservice.modifyPricingString(plan?.price) }}
                  <!-- <span class="g-font-size-default">/ month</span> -->
                </strong>
                <h3
                  class="h6 text-uppercase g-color-white-opacity-0_7 g-letter-spacing-3 g-mb-20"
                >
                  {{ plan.name }}
                </h3>
              </header>
              <!-- End Article Header -->

              <!-- Article Content -->
              <div class="g-px-20 g-py-40">
                <ul class="list-unstyled g-mb-40">
                  <li class="g-mb-20">Per Month</li>
                  <li class="g-mb-20">
                    {{ plan.no_of_statements }} Statements
                  </li>

                  <li class="g-mb-20">24 hour Support</li>
                </ul>
                <div
                  style="display: flex; flex-direction: column; justify-content: center;"
                >
                  <a
                    *ngIf="payStackPayment"
                    id="hiddenAngularPaystackButton"
                    hidden
                    angular4-paystack
                    [key]="payStackPayment?.key"
                    [email]="payStackPayment?.email"
                    [amount]="payStackPayment?.amount"
                    [ref]="payStackPayment?.reference"
                    [class]="'btn btn-primary'"
                    (paymentInit)="payStackPayment.paymentInit()"
                    (close)="payStackPayment.paymentCancel()"
                    (callback)="payStackPayment.paymentDone($event)"
                    >Pay Now</a
                  >

                  <button
                    id="{{ i }}"
                    style="align-self: center; background: #363795;"
                    class="btn text-uppercase text-white u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10"
                    (click)="startPaymentProcess(plan, i)"
                  >
                    {{ plan.name == "free" ? "Free" : "Pay now" }}
                  </button>
                </div>
              </div>
              <!-- End Article Content -->
            </article>
            <!-- End Article -->
          </div>
        </ng-container>

        <div
          class="col-lg-7 col-md-7 d-flex justify-content-end align-items-center col-sm-12 text-center"
          style="color: black; width: 100%"
        >
          <a
            style="text-decoration: underline; cursor: pointer;"
            class=" g-font-size-16 g-font-weight-700 g-pa-5-20 g-mb-10"
            routerLink="/home"
            (click)="clearTransactionIDIfPresent()"
          >
            Not interested</a
          >
        </div>
      </div>
      <!-- End Pricing Plans -->
    </div>
  </section>
  <!-- End Pricing Plans -->

  <button type="button" class="btn btn-primary" hidden>
    Launch demo modal
  </button>
</div>
